<!-- @author Heidi Cho
On The Go
account.html

Html template for the account page -->

{% extends "base.html" %}

{% block content %}
  <!-- button to logout -->
  <form method=post action="">
    <input type=submit name=submit value="logout">
  </form>

  <table id="menu_list">
      <!-- Where current order will go -->
      <p>Your Orders:</p>
      <tr><th>Order #</th><th>Name (Quantity)</th><th>Time</th><th>Complete</th></tr>
      {% for item in orders %}
      <tr class="menu_row">
            <td>{{item['pid']}}</td>
            <td class="rating" id ="{{item['pid']}}">{{names[item['mid']]}} ({{item['quantity']}})</td>
            <td>{{times[item['pid']]}}</td>
            <td>
              {% if item['complete'] == None %}
              <p>Not Complete</p>
              {% endif %}
              {% if item['complete'] == 1 %}
              <p>Complete</p>
              {% endif %}
            </td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
