<!-- @author Heidi Cho, Midori Yang
CS 304 Homework 6: Ajax
4.4.18
login.html

Html template for the login page -->

{% extends "base.html" %}

{% block content %}
	<style>
		H1 {
				text-align: center;
		}
	</style>
	<div style="width: 600px; margin: auto;">
		<img src="/home/public_html/cs304/logo.png" alt="logo">
		<p>Welcome to On-the-Go, a website where Wellesley students can order food online from
			El Table. Because Wellesley students are constantly on the
			 move, many people cannot or do not want to wait thirty to forty minutes for
			  their orders to be made. On-the-Go allows you to be somewhere else while your order is
				being made and to pick it up when it's ready. </p>
	</div>
{% endblock %}
