<!-- @author Heidi Cho
On The Go
order.html

Html template for the order page -->

{% extends "base.html" %}

{% block content %}
  <table id="menu_list">
      <tr><th>Item Name (Price)</th><th>Description</th><th>Quantity</th></tr>
      {% set count = 0 %}
      {% for item in menu %}
        <tr class="menu_row">
          <td>{{item['name']}} (${{item['price']}})</td>
          <td>{{item['description']}}</td>
          <td>
            <form data-mid=1 action="{{url_for('order')}}" method=post>
              <input type="hidden" class="hidden_mid" name="menu_mid" value="{{item['mid']}}">
              <input type="hidden" name="menu_name" value="{{item['name']}}">
              {% if cart %}
              <input oninput="validity.valid||(value='');" type="number" id="{{item['mid']}}" class="menu" name="item-quantity" style="text-align:center; max-width:50px;" MIN="0" value="{{cart[count]['quantity']}}">
              <!-- <input type="submit" name="submit" value="addToCart"> -->
              {% endif %}
              {% if not cart %}
              <input oninput="validity.valid||(value='');" type="number" id="{{item['mid']}}" class="menu" name="item-quantity" style="text-align:center; max-width:50px;" MIN="0" value="0">
              <!-- <input type="submit" name="submit" value="addToCart"> -->
              {% endif %}
            </form>
          </td>
        </tr>
        {% set count = count + 1 %}
    {% endfor %}
  </table>

  <p>Your cart contains:</p>
  <ul>
    {% for thing in cart %}
      <li class="list" id="{{thing['mid']}}">{{thing['quantity']}} of {{thing['name']}}</li>
    {% endfor %}
  </ul>
  <p id="cost">Total cost: {{price}}</p>

  <p>If you have any allergies or any modifications you'd like, please enter them here once you are done adding items to your cart:</p>
  <form method=post action="">
    <textarea name="comment"></textarea>
    <input onclick='return confirm("Are you sure you would like to order?");' type="submit" name="submit" value="Submit Cart"></input>
  </form>


  <script>

    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });

    $("li:contains('0')").hide();

    // update the cart in the html
    function updateCart(data){
      quantity = data['quantity'];
      name = data['name'];
      cost = data['cost'];
      mid = data['mid'];
      $('#' + mid + '.list').html(quantity + ' of ' + name);
      $("#cost").html('Total cost: ' + cost);
    }

    $("input").on("change", function() {
      var mid = $(this).parent().find('.hidden_mid').val();
      var quantity = $(this).val();
      if (quantity === '0') {
        $('#' + mid + '.list').hide();
      } else {
        $('#' + mid + '.list').show();
      }

      formData = $(this).parent().serialize();
      $.post("/orderAjax/", // post to setRatingAjax
      formData,
      updateCart, // update the html to reflect new rating
      "json");
    });

  </script>
{% endblock %}
